* {
    margin: 0;
    padding: 0;
    font-size: 100% ;
}

body {
    
  font-family: "Public Sans", serif;
    font-size: 1.125em;
}

:root {
--Dark-Blue: hsl(233, 26%, 24%);
--Lime-Green: rgb(49, 211, 92);
--Bright-Cyan: hsl(192, 70%, 51%);
--Grayish-Blue: hsl(233, 8%, 62%);
--Light-Grayish-Blue: #f3f4f6;
--Very-Light-Gray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
} 

/* Nav  */

#navbar {
    max-width: 100% ;
    width: 85% ;
    left: 2em;
}


#noHover:hover {
    background-color: transparent;
}

.circle {
    border-radius: 25px !important;
    transform: scale(1.1);
    background: linear-gradient( 240deg ,rgb(49, 211, 92),hsl(192, 70%, 51%));
}

#l  {
    font-weight: 500;
  color: var(--Grayish-Blue);
}

#l button:hover {
    color: var(--Lime-Green);
}

#list li{
    text-align: center !important;
    font-weight: 700 !important;
}

li {
    cursor: pointer;
}

li:hover  span {
    color: var(--Lime-Green);
}

li span {
    font-weight: 400 !important;
    color: var(--Dark-Blue);
}

/* Home section */

#Home {
    overflow-x: hidden;
    position: relative;
    top: 0;
    background: url(./assets/images/bg-intro-mobile.svg) no-repeat 100% / 100%;
    background-position:center top 0 ;
}

.Img-container img {
    max-width: 75%; 
    position: relative;
    top: 2em;
}



.Home-content {
    padding: 4em 2em;
    text-align: center;
}

#Home-Title {
    font-weight: 400;
    padding: 0 1em;
    font-size: 1.7em;
    color: var(--Dark-Blue);
}

.Home-content p {
    color: var(--Grayish-Blue);
}

.btn {
    
    transform: scale(1.3);
    border-radius: 25px !important;
    background: linear-gradient( 240deg ,rgb(49, 211, 92),hsl(192, 70%, 51%));
}


.intro {
    position: relative;
    top: 0 !important   ;
    background-color: var(--Light-Grayish-Blue);
}

footer {
    background-color: var(--Dark-Blue);
}

#md1 ul li span, #md2 ul li span {
  color: #fff !important; 
}

#md1 ul li:hover span, #md2 ul li:hover span {
    color: var(--Lime-Green) !important; 
  }

footer ul li{
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

#footer-logo {
    max-width: 50% !important;
}

.icon {
    color: #fff !important;
}

.icon:hover {
    color: var(--Lime-Green) !important;
}

button img:hover  {
fill: var(--Lime-Green) !important;
}

/* tablet  */

@media (min-width: 600px) {

   
    
    .Home-content {
        position: relative;
        left: 4%;
        padding: 4em 7em;
        text-align: center;
    }

    #Home-Title {
        font-size: 3em;
        color: var(--Dark-Blue);
    }

    .Home-content p {
        font-size: 1.3em;
    }

    .btn {
        transform: scale(1.3);
    }

    .mini-card:nth-of-type(1){
    margin-left: 0;   
    }  
    
}

@media (min-width: 1024px) {
 

    .intro {
        position: relative;
        top: 1.4em !important  ;
    }

    #Home {
        overflow-x: hidden;
        position: relative;
        top: 6em;
        background: url(./assets/images/bg-intro-desktop.svg) no-repeat;
        background-position:top -7em right -10em ;
        background-size: 55%;
    }

    #Home-Title {
        position: relative;
        left: -8%;
        line-height: 35px;
        font-size: 2em;
    }


    .Home-content p {
        font-size: 1.1em;
        max-width: 600px;
    }


    .Img-container img {
        position: relative;
        top: -5em;
        max-width: 90%;
        z-index: 1;
    }

    
    .btn {
        margin-left: 1em !important;
    }
    
    

}

/* Desktop  */

@media (min-width: 1200px)  {
 
    .article {
      padding-left: 8.5em !important;  
    }

    .article h4 {
        margin-left: 1em;
    }

    .intro {
        padding-top: 4em !important;
        
        padding-bottom: 4em !important;
    }

    #l {
        
 position: relative;
 left: 5.7em;
    }

    .Img-container img {
        position: relative;
        top: -3em;
        max-width: 95%;
        z-index: 1;
    }

    .Home-content {
        padding: 4em 7.5em;
        text-align: center;
    }


    #Home-Title {
        position: relative;
        left: -10%;
        line-height: 55px;
        font-size: 3.2em;
        color: var(--Dark-Blue);
    }


    .Home-content p {
        font-size: 1.4em;
        max-width: 600px;
    }

    .btn {
        margin-top: -5em !important;
        margin-left: 1em !important;
    }
    
    footer ul {
         padding: 0 1.5em !important ;
    }
    
footer ul li{
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items:baseline  !important;
    text-align:left !important;
}
    
}

@media (min-width: 1280px)  {
    
    #Home-Title {
        font-size: 2.7em;
    }

    .intro {
        padding-left: 9.5em !important;
        background-color: var(--Light-Grayish-Blue);
    }

}

@media (min-width: 1366px)  {
    #Home-Title {
        position: relative;
        left: -8%;
    }

    
.intro {
    top: -1em !important   ;
}

}